<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resume App</title>
</head>
<body>
     <nav>
         <ul>
             <li><a href="index.html">Home</a></li>
             <li><a href="about.html">About</a></li>
             <li><a href="contact.html">Contact</a></li>
         </ul>
     </nav>
     <h1>Resume App</h1>
     <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium culpa debitis minus officiis tempore! Aut consectetur corporis dicta eius, eligendi eos.</span></p>
       <br>
     <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus cum deserunt dicta eius enim, est inventore iste, labore laboriosam modi nesciunt nobis perspiciatis placeat praesentium quaerat quam quasi, quia quibusdam quisquam ratione recusandae rem reprehenderit repudiandae rerum saepe sapiente sequi similique sint sit sunt tempore temporibus totam ullam unde voluptates.</span></p>
</body>
</html>